<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Error</title>
	</head>
	<body>
		<header>
			<h1>Oppps!</h1>
		</header>
		<main>
			<section>
				<p><%= message %></p>
  				<p><%= error %></p>
			</section>
		</main>
	</body>
</html>