<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
			body,html{
				background-color:#FEFFD4;
			}
		</style>
		<title>Error</title>
	</head>
	<body>
		<header>
			<h1>Oppps!</h1>
		</header>
		<main>
			<section>
				<p><%= message %></p>
  				<p><%= error %></p>
  				<p><a href="/">Volver al inicio</a></p>
			</section>
		</main>
	</body>
</html>