<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1>Bienvenido a Quiz</h1>
		</header>
		<main>
			<section>
				<p>El portal donde podrá crear sus propios juegos</p>
				<a href="quizes/question" target="_blank">Comience a Jugar!</a>
			</section>
		</main>
	</body>
</html>