<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<h1>Quiz: el juego de las preguntas</h1>
		</header>
		<main>
			<section>
				<p><%= answer %></p>
				<p>
					<a href="question">Volver</a>
				</p>
			</section>
		</main>
	</body>
</html> 
