Añadir comentario: <p>
<form method="post" action="/quizes/<%=quizid%>/comments/">
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="text" id="comment" name="comment[texto]" value=""/>
	<button type="submit">Enviar</button>
</p>