<form method="GET" action="<%= question.id %>/answer">
	<div>
		<p>Pregunta. <%= question.pregunta %></p><br/>
		<label for="question">Responda aquí: </label>
		<input type="text" name="answer" />
		<input type="submit" value="Enviar">
	</div>
</form>