@media only screen and (min-width: 1024px) and (min-device-width: 768px){
	#content{
		width: 48%;
		float:none;
	}
	nav{
		width: inherit;
		float:none;
	}
	nav ul{
		display: inline;
	}
	nav .menu-left li{
		display:inline;
		float:left;
	}
	nav .menu-right li{
		display:inline;
		float:right;
	}
	.menu-right{
		border-top:2px solid black;
	}
	footer{
		float:none;
		clear:both;
	}
}